name: Build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:20

    steps:
      # Checkout actions just downloads code, does not git init
      # Find more info on the bug here - https://github.com/actions/checkout/issues/126
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Lint Check
        run: npm run lint-check
